@using BizLogic.Planning
@using REYMAN.ViewModels
@model NewMaterialViewModel
@{
    Layout = "AdminLayout";
}

<CENTER>
    <div class="main">
        <h1>Añadir material</h1>
        <form method="post">
            <div class="form-group col-md-4 col-md-offset-3">
                <label>Nombre</label>
                <input asp-for="Nombre" class="form-control" required />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 col-md-offset-3">
                <label>Unidad de medida</label>
                <select asp-for="UnidadDeMedida" class="form-control">
                    @foreach (var item in Model.Unidades)
                    {
                        <option value=@item.Nombre>@item.Nombre</option>
                    }
                </select>
                <span asp-validation-for="UnidadDeMedida" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label>Cantidad</label>
                <input asp-for="Cantidad" class="form-control" onkeydown="return int_validate(event, this.value);" oninput="parse(this);" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4">
                <label>Precio en CUC</label>
                <input asp-for="CUC" class="form-control" onkeydown="return double_validate(event, this.value);" oninput="precision(this, 2);" />
                <span asp-validation-for="CUC" class="text-danger"></span>
            </div>
            <div class="form-group col-md-4 col-md-offset-3">
                <label>Precio en CUP</label>
                <input asp-for="CUP" class="form-control" onkeydown="return double_validate(event, this.value);" oninput="precision(this, 2);" />
                <span asp-validation-for="CUP" class="text-danger"></span>
            </div>
            <button class="button" name="Id" value=@Model.Id>Guardar</button>
        </form>
    </div>
</CENTER>