@using BizLogic.Planning
@model EspecialidadViewModel
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Añadir Especialidad";
}

<form method="post">
    <CENTER>
        <h3>Añadir Especialidad </h3>
        <div class="col-md-2 col-md-offset-3">
            <div class="form-group">
                <label>Nombre</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <button  class="button"  type="submit"> <span>Enviar</span></button>
        </div>
    </CENTER>
</form>
