@using BizLogic.Planning
@model InmuebleCommand
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Añadir Inmueble";
}

<form method="post">
    <CENTER>
        <div class="col-md-offset-3">
            <div class="form-group">
                <h1>Agregar Inmueble</h1>
                <div class="form-group">
                    <label>Dirección</label>
                    <br />
                    <input asp-for="Direccion" placeholder="Dirección" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <button class="button" type="submit"> <span>Enviar</span></button>
            </div>
        </div>
    </CENTER>

</form>
