@using BizLogic.Planning
@using BizData.Entities
@model InmuebleCommand
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Añadir Inmueble";
}
@*@Html.Partial("PlanPartial", Model.PlanID)*@

<form method="post">
    <CENTER>
        <div class="col-md-offset-3">
            <h1>Agregar Inmueble</h1>
            <br />
            <div class="form-group col-md-3">
                <div class="form-group">
                    <input asp-for="Direccion" placeholder="Dirección" class="form-control" />
                    <span asp-validation-for="Direccion" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Unidad Organizativa</label>
                    <br />
                    <select asp-for="UOnombre" class="form-control">
                        @foreach (var item in ViewData["UO"] as IEnumerable<UnidadOrganizativa>)
                        {
                            <option value=@item.Nombre> @item.Nombre</option>
                        }
                    </select>
                    <span asp-validation-for="UOnombre" class="text-danger"></span>
                </div>
                <button class="button" type="submit"> <span>Enviar</span></button>
            </div>
        </div>
    </CENTER>
</form>
