@using BizLogic.Planning

<form method="post">
    <input type="number" placeholder="Año" name="Año" />
    <input type="text" placeholder="Tipo" name="TipoPlan" />
    <button class="button" type="submit" value="Add" name="button">   <span>Añadir</span> </button>
</form>