@using BizLogic.Administration
@model UOCommand
@{ 
    Layout = "AdminLayout";
}

<div class="main">
<h3>Rellene los campos para añadir una unidad organizativa correctamente</h3>
    <br />
<form method="post">
    <input asp-for="Nombre" placeholder="Nombre" name="Nombre" />
    <select asp-for="Provincia">
        @foreach (var item in Model.Provincias)
        {
            <option value=@item.Nombre> @item.Nombre </option>
        }
    </select>
    <button class="button" type="submit" value="Edit" name="button">   <span>Añadir</span> </button>
</form>
</div>