@using BizData.Entities
@using BizLogic.Planning
@model IEnumerable<Inmueble>
@{
    Layout = "AdminLayout";
}
<div class="main">
    <p>
        <h1>Inmueble</h1>
    </p>
    <p>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por Direcciones..">
    </p>

    <section>
        <form method="post">
            <table id="myTable">
                <tr>
                    <th>
                        Direccion
                    </th>
                    <th>
                        UnidadOrganizativa
                    </th>
                    <th>
                      
                    </th>
                    <th>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Direccion
                        </td>
                        @if (item.UnidadOrganizativa != null)
                        {
                        <td>
                            @item.UnidadOrganizativa.Nombre
                        </td>
                        }else
                        {
                            <td>

                            </td>

                        }
                        <td>
                            @Html.ActionLink("Editar", "EditInmueble", "Admin", new InmuebleCommand { Id = item.InmuebleID, Direccion=item.Direccion})
                        </td>
                        <td>
                            <button class="button" type="submit" value="Delete/@item.InmuebleID" name="button">   <span>Eliminar</span> </button>
                        </td>
                    </tr>
                }
            </table>
            <button class="button" type="submit" value="Add" name="button">   <span>Añadir</span> </button>
        </form>
    </section>
</div>