@using BizData.Entities
@using BizLogic.Planning
@model IEnumerable<Inmueble>
@{
    Layout = "AdminLayout";
}
<div class="main">
    <p>
        <h1>Inmuebles</h1>
    </p>
    <p>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por dirección">
    </p>
    <section>
        <form method="post">
            <table id="myTable">
                <tr>
                    <th>
                        Direccion
                    </th>
                    <th>
                        UnidadOrganizativa
                    </th>
                    <th>

                    </th>
                    <th>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Direccion
                        </td>
                        @if (item.UnidadOrganizativa != null)
                        {
                            <td>
                                @item.UnidadOrganizativa.Nombre
                            </td>
                        }
                        else
                        {
                            <td></td>

                        }

                        <td>
                            <a class="button" href="/Admin/EditInmueble?Direccion=@item.Direccion&PlanID=0&Id=@item.InmuebleID"><span>Editar</span></a>
                        </td>
                        <td>
                            <button class="button" type="submit" value=@item.InmuebleID name="ID">   <span>Eliminar</span> </button>
                        </td>
                    </tr>
                }
            </table>
            @if (User.HasClaim("Permission", "admin"))
            {
                <a href="/Admin/AddInmuebleAdm" class="button" type="submit" value="Add" name="button">   <span>Añadir</span> </a>
            }
            else
            {
                <a href="/Admin/AddInmueble" class="button" type="submit" value="Add" name="button">   <span>Añadir</span> </a>
            }
        </form>
    </section>
</div>