@using BizLogic.Administration
@model EspViewModel
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Especialidades";
    var adm = User.Claims.Any(x => x.Value == "admin");
}

<div class="main">

    <p>
        <h1>Especialidades</h1>
    </p>
    <p>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por nombre">
    </p>
    @if (Model.id != 0)
    {

        <p style="color:lightcoral"> No se puede eliminar la especialidad @ViewData["Nombre"]</p>
    }
    <section>
        <form method="post">
            <table id="myTable">
                <tr>
                    <th>
                        Especialidad
                    </th>
                    @if (adm)
                    {
                        <th> </th>
                    }
                </tr>
                @foreach (var item in Model.Especialidad)
                {
                    <tr>
                        <td>
                            @item.Tipo
                        </td>
                        @if (adm)
                        {
                            <td>
                                <button class="button" type="submit" value=@item.EspecialidadID name="id">   <span>Eliminar</span> </button>
                            </td>
                        }
                    </tr>
                }
            </table>

            @if (adm)
            {
                <a href="AddEspecialidad" class="button" type="submit" name="button">   <span>Añadir</span> </a>
            }
        </form>
    </section>
</div>