@using BizData.Entities
@using BizLogic.Planning
@model IEnumerable<ObjetoObra>
@{
    Layout = "AdminLayout";
}
<div class="main">
    <p>
        <h1>Objetos de Obra</h1>
    </p>
    <p>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por nombre">
    </p>

    <section>
        <form method="post">
            <table id="myTable">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Inmueble
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>
                @foreach (var item in Model.Where(x => x.Inmueble != null))
                {
                    <tr>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.Inmueble.Direccion
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "EditObjObra", "Admin", new ObjObraCommand { Id = item.ObjetoObraID, Nombre = item.Nombre,Direccion=item.Inmueble.Direccion })
                        </td>
                        <td>
                            <button class="button" type="submit" value="Delete/@item.ObjetoObraID" name="button">   <span>Eliminar</span> </button>
                        </td>
                    </tr>
                }
            </table>
            <button class="button" type="submit" value="Add" name="button">   <span>Añadir</span> </button>
        </form>
    </section>
</div>