@using BizData.Entities
@model bool
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Materiales";
    var adm = User.Claims.Any(x => x.Value == "admin");
}
<div class="main">
   
    <p>
        <h1>Materiales</h1>
    </p>
    <p>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por nombre">
    </p>
    @if (Model)
    {
        <p style="color:lightcoral"> Ese material no puede ser eliminado porque existe una accion constructiva que la esta usando</p>
    }
    <section>
        <form method="post">
            <table id="myTable">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Unidad de Medida
                    </th>
                    @if (adm)
                    {
                        <th> </th>
                        <th> </th>
                    }
                </tr>
                @foreach (var item in ViewData["Materiales"] as IEnumerable<Material>)
                {
                    <tr id=@item.MaterialID>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            <a>@item.UnidadMedida.Nombre</a>
                        </td>
                        @if (adm)
                        {
                            <td>
                                <button class="button" type="submit" value="Edit/@item.MaterialID" name="button">   <span>Editar</span> </button>
                            </td>
                            <td>
                                <button class="button" type="submit" value="Delete/@item.MaterialID" name="button">   <span>Eliminar</span> </button>
                            </td>
                        }
                    </tr>
                }
            </table>
            @if (!User.Claims.Any(x => x.Value == "gerentes"))
            {
                <button class="button" type="submit" value="Add" name="button">   <span>Añadir</span> </button>
            }
        </form>
    </section>
</div>