@using BizLogic.Planning
@model ObjObraCommand
@{ 
    Layout = "AdminLayout";
}

<CENTER>
    <div class="main">
        <form method="post">
            <div class="form-group col-md-2 col-md-offset-3">
                <label>Nombre</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <input asp-for="Id" hidden="hidden" />
            <input asp-for="Direccion" hidden="hidden" />
            <button name="button" value="sub">Enviar</button>
        </form>
    </div>
</CENTER>
