@using BizLogic.Administration
@{ 
    Layout = "AdminLayout";
}
@model ProvinciaViewModel

<form method="post" class="main">
    <CENTER>
        <div class="col-md-6 col-md-offset-3">
            <div class="form-group col-md-6 ">
                <label>Nombre</label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <input asp-for="Id" hidden="hidden" />
            <button class="button" name="button" value="sub">Enviar</button>
        </div>
    </CENTER>
</form>