@using BizData.Entities
@model IEnumerable<UnidadMedida>
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Unidades de Medida";
}

<div class="main">
    <p>
        <h1>Unidades de medida</h1>
    </p>
    <p>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
    </p>

    <section>
        <form method="post">
            <table id="myTable">
                <tr>
                    <th>
                        Unidad de Medida
                    </th>
                    <th> </th>
                </tr>
                @foreach (var item in Model)
                 {
                <tr>
                    <td>
                        @item.Nombre
                    </td>
                    <td>
                        <button class="button" type="submit" value="Delete/@item.UnidadMedidaID" name="button">   <span>Eliminar</span> </button>
                    </td>
                </tr>
                  }
            </table>

            <button class="button" type="submit" value="Add" name="button">   <span>Añadir</span> </button>
            </form>
    </section>
</div>