@using BizData.Entities
@using BizLogic.Administration
@model IEnumerable<UnidadOrganizativa>

@{
    Layout = "AdminLayout";
}
<div class="main">
    <p>
    <h1>Unidades Organnizativas</h1>
    </p>
    <p>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por nombres...">
    </p>
    <section>
        <form method="post">
            <table id="myTable">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Provincia
                    </th>
                    <th>
                    </th>
                    <th>
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Nombre
                        </td>
                        <td>
                            @item.Provincia.Nombre
                        </td>
                        <td>
                        
                            @Html.ActionLink("editar", "EditUO", "Admin", new UOViewModel { Nombre = item.Nombre, Id = item.UnidadOrganizativaID, Provincia = item.Provincia.Nombre })
                        
                        </td>
                        <td>
                            <button class="button" type="submit" value="Delete/@item.UnidadOrganizativaID" name="button">   <span>Eliminar</span> </button>
                        </td>
                    </tr>
                }
            </table>
            <button class="button" type="submit" value="Add" name="button">   <span>Añadir</span> </button>
        </form>
    </section>
</div>