@using BizLogic.Administration
@model UMViewModel
@{
    Layout = "AdminLayout";
    ViewData["Title"] = "Unidades de Medida";
    var adm = User.Claims.Any(x => x.Value == "admin");
}

<div class="main">
    <p>
        <h1>Unidades de medida</h1>
    </p>
    <p>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar por nombre">
    </p>
    @if (Model.id != 0)
    {
        <p style="color:lightcoral">
            La unidad de medida @ViewData["Nombre"].ToString() no puede ser eliminada
        </p>

    }
    <section>
        <form method="post">
            <table id="myTable">
                <tr>
                    <th>
                        Unidad de Medida
                    </th>
                    @if (adm)
                    {

                        <th> </th>
                    }
                   
                </tr>
                @foreach (var item in Model.UnidadMedida)
                 {
                <tr>
                    <td>
                        @item.Nombre
                    </td>
                    @if (adm)
                    {
                    <td>
                        <button  class="button" type="submit" value=@item.UnidadMedidaID name="id">   <span>Eliminar</span> </button>
                    </td>
                    }
                </tr>
                  }
            </table>

            <a href="AddUnidadMedida" class="button" type="submit" value="Add">   <span>Añadir</span> </a>
            </form>
    </section>
</div>