@using BizLogic.Administration
@using System.Security.Claims


<head>
    <title>Signed up</title>
</head>


<h2>Acciones de Edición</h2>

<div class="vertical-menu">
    <a href="#" class="active">Opciones</a>
    <a href="EditProvincia">Provincia</a>
    <a href="EditPlanes">Planes</a>
    <a href="EditUOs">Unidades Organizativas</a>
    <a href="AddAccionCons">Link 4</a>
</div>

