@using BizLogic.Administration
@using System.Security.Claims

@{
    Layout = "AdminLayout";
}
<head>
    <title>Signed up</title>
</head>



<div class="main">
    <h2>Página de inicio</h2>
    <p>
        Desde aquí podrá regular la aplicación. Por favor revise el alcance de sus acciones
        y sus poderes en la documentación.
    </p>
    <br />
    <h2>Notificaciones:</h2>
</div>


