
<div class="sidemenu">
    <ul>
        <li><a href="#" class="active">Opciones</a></li>
        <li><a href="EditProvincia">Provincia</a></li>
        <li><a href="EditPlanes">Planes</a></li>
        <li><a href="EditUOs">Unidades Organizativas</a></li>
        <li><a href="Usuarios">Usuarios</a></li>
        <li><a href="AddAccionCons">Link 4</a></li>
    </ul>
</div>
<div class="main">
<h2>Edición REYMAN</h2>
</div>

