@using BizData.Entities
@model IEnumerable<Provincia>

<table>
    <tr>
        <th>
            Provincia
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Nombre
            </td>
        </tr>
    }
</table>