@using BizLogic.Administration
@{
    ViewData["Title"] = "Home Page";
}
@model  UserViewModel;
<head>
    <title>Signed up</title>
</head>

<div class="text-center">
    <h1> class="display-4"Felicidades @Model.Name  @Model.LastName! Se ha logueado con éxito.</h1>


</div>
