@{
    ViewData["Title"] = "Pendiente";
}


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/images/banner1.png" >
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/banner3.png" >
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/banner2.png" >
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/banner4.png" >
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/images/banner5.png" >
        </div>
    </div>
</div>

<br>
<br>

<div>
    <p style="text-align:center">
        Por favor espere mientras es atendida su solicitud.
    </p>
</div>
