@using BizLogic.Administration
@using System.Security.Claims
@model  UserViewModel;
<head>
    <title>Signed up</title>
</head>

<h1>Congratulations @Model.Name  @Model.LastName!!! You are already signed up</h1>
<div>Your main email for all transactions is </div>
<h2>Your Actions</h2>

<div class="vertical-menu">
    <a href="#" class="active">Opciones</a>
    <a href="Edition">Edición</a>
    <a href="Provincia">Provincia</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
    <a href="#">Link 4</a>
</div>
