@{
    ViewData["Title"] = "REYMAN";
    Layout = "_About-Layout";
}

@section Extra_Headers{ 
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Styles -->
    <link rel="stylesheet" href="~/css/normalize.min.css">
    <!-- <link href="file:///media/rulopc/Datos/MATCOM/3ER ANNO/2DO semestre/Proyectos/presentacion/icon?family=Material+Icons" rel="stylesheet"> -->
    <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/materialize.min.css">
    <link rel="stylesheet" href="~/css/materialize-social.css">
    <link rel="stylesheet" href="~/css/personal.css">
}

<body style="background: rgba(0, 0, 0, 0) none repeat scroll 100px center; ">

    <div style="display: flex; justify-content: space-between">
        <h3> Sobre este proyecto: </h3> 
        <div style="margin-top: 25px;">
            <a class="button" style="background-color: blue" asp-action="Login"> <span>Regresar</span></a>
        </div>
    </div>
    <p style="text-indent: 20px; margin-left: 30px;">
        La realización de este proyecto fue llevada a cabo por un equipo de estudiantes de cibernética de la Universidad de La Habana.
        Surge dada la posibilidad de crear un ambiente automatizado que facilite el proceso de gestión de los planes de Mantenimiento y Reparación
        de las diferentes Unidades Organizativas que conformar la Corporación Copextel.
    </p>

    <h3> Sobre los desarolladores: </h3>
    <p style="text-indent: 20px; margin-left: 30px;">
        Somos un pequeño equipo con habilidades en diversos campos, principalmente trabajamos como desarrolladores de software y web. Este, se puede
        decir, que es uno de nuestros primeros proyectos a gran escala, por consiguiente son bienvenidos cualquier tipo de criterios o sugerencias respecto a
        nuestro trabajo. Esperamos que la aplicación sea de su agrado y que tenga gran utilidad.
    </p>
    <p style="text-align: right">Atentamente el equipo de desarrollo.</p>
    <h3> Nuestros Contactos: </h3>

    <div style="display: flex; justify-content: space-around">
        <div class="container-div">
            <div class="card">
                <div class="card-content content-one">
                    <h4 class="oneline-overflow">Miguel Tenorio Potrony</h4>
                    <h5 class="oneline-overflow">Estudiante de 4to año de Ciencias de la Computación</h5>
                    <hr class="double-hr">

                    <div style="display: flex; justify-content: space-between">
                        <p>Lenguajes:</p><p>C#, Python, C, C++, Julia, Go</p>
                    </div>
                    <div style="display: flex; justify-content: space-between">
                        <p>Telefono:</p><p> +53 53355217</p>
                    </div>
                    <div style="display: flex; justify-content: space-between">
                        <p>Email: </p><p> mtpotro41@gmail.com</p>
                    </div>

                    <div class="section-break">
                        <section class="icon-container container-1">
                            <a class="waves-effect waves-light btn-floating social icon-spacing linkedin" href="https://www.linkedin.com/in/miguel-tenorio-3b941616b/">
                                <i class="fa fa-linkedin"></i> Linkedin
                            </a>
                            <a class="waves-effect waves-light btn-floating social icon-spacing github" href="https://github.com/stdevAntiD2ta">
                                <i class="fa fa-github"></i> Github
                            </a>
                            <a id="email" class="waves-effect waves-light btn icon-spacing" style="background-color:#007AFF" href="mailto:mtpotro41@gmail.com">
                                <i class="material-icons left">email</i>Email
                            </a>
                        </section>
                    </div>
                </div>
            </div>
        </div>


        <div style="display: flex; justify-content: space-around">
            <div class="container-div">
                <div class="card">
                    <div class="card-content content-one">
                        <h4 class="oneline-overflow">Lázaro Raúl Iglesias Vera</h4>
                        <h5 class="oneline-overflow">Estudiante de 4to año de Ciencias de la Computación</h5>
                        <hr class="double-hr">
                        <div style="display: flex; justify-content: space-between">
                            <p>Lenguajes:</p><p> C#, Python, C, C++, JavaScript, Go, Julia</p>
                        </div>
                        <div style="display: flex; justify-content: space-between">
                            <p>Telefono:</p><p> +53 53973058</p>
                        </div>
                        <div style="display: flex; justify-content: space-between">
                            <p>Email: </p><p> riglesiasvera@gmail.com</p>
                        </div>

                        <div class="section-break">
                            <section class="icon-container container-1">
                                <a class="waves-effect waves-light btn-floating social icon-spacing linkedin" href="https://www.linkedin.com/in/ra%C3%BAl-iglesias-aa321a18a/">
                                    <i class="fa fa-linkedin"></i> Linkedin
                                </a>
                                <a class="waves-effect waves-light btn-floating social icon-spacing github" href="https://github.com/stdevRulo">
                                    <i class="fa fa-github"></i> Github
                                </a>
                                <a id="email" class="waves-effect waves-light btn icon-spacing" style="background-color:#007AFF" href="mailto:riglesiasvera@gmail.com">
                                    <i class="material-icons left">email</i>Email
                                </a>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="display: flex; justify-content: space-around">
        <div class="container-div">
            <div class="card">
                <div class="card-content content-one">
                    <h4 class="oneline-overflow">Juan David Menendez del Cueto</h4>
                    <h5 class="oneline-overflow">Estudiante de 4to año de Ciencias de la Computación</h5>
                    <hr class="double-hr">
                    <div style="display: flex; justify-content: space-between">
                        <p>Lenguajes:</p><p> C#, Python, C, C++, JavaScript, Go, Julia</p>
                    </div>
                    <div style="display: flex; justify-content: space-between">
                        <p>Telefono:</p><p> +53 53973058</p>
                    </div>
                    <div style="display: flex; justify-content: space-between">
                        <p>Email: </p><p> riglesiasvera@gmail.com</p>
                    </div>

                    <div class="section-break">
                        <section class="icon-container container-1">
                            <a class="waves-effect waves-light btn-floating social icon-spacing linkedin" href="https://www.linkedin.com/in/ra%C3%BAl-iglesias-aa321a18a/">
                                <i class="fa fa-linkedin"></i> Linkedin
                            </a>
                            <a class="waves-effect waves-light btn-floating social icon-spacing github" href="https://github.com/stdevRulo">
                                <i class="fa fa-github"></i> Github
                            </a>
                            <a id="email" class="waves-effect waves-light btn icon-spacing" style="background-color:#007AFF" href="mailto:riglesiasvera@gmail.com">
                                <i class="material-icons left">email</i>Email
                            </a>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-div">
            <div class="card">
                <div class="card-content content-one">
                    <h4 class="oneline-overflow">Karl Lewis Sosa Justiz</h4>
                    <h5 class="oneline-overflow">Estudiante de 4to año de Ciencias de la Computación</h5>
                    <hr class="double-hr">
                    <div style="display: flex; justify-content: space-between">
                        <p>Lenguajes:</p><p> C#, Python, C, C++, JavaScript, Go, Julia</p>
                    </div>
                    <div style="display: flex; justify-content: space-between">
                        <p>Telefono:</p><p> +53 53973058</p>
                    </div>
                    <div style="display: flex; justify-content: space-between">
                        <p>Email: </p><p> riglesiasvera@gmail.com</p>
                    </div>

                    <div class="section-break">
                        <section class="icon-container container-1">
                            <a class="waves-effect waves-light btn-floating social icon-spacing linkedin" href="https://www.linkedin.com/in/ra%C3%BAl-iglesias-aa321a18a/">
                                <i class="fa fa-linkedin"></i> Linkedin
                            </a>
                            <a class="waves-effect waves-light btn-floating social icon-spacing github" href="https://github.com/stdevRulo">
                                <i class="fa fa-github"></i> Github
                            </a>
                            <a id="email" class="waves-effect waves-light btn icon-spacing" style="background-color:#007AFF" href="mailto:riglesiasvera@gmail.com">
                                <i class="material-icons left">email</i>Email
                            </a>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/materialize.min.js"></script>
</body>

