@using BizLogic.Authentication
@model LoginViewModel

@{
    Layout = "_Login-Register";
    ViewData["Title"] = "Log in";
}

<form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
    <CENTER>
        <div class="col-md-4 col-md-offset-3">
            <h4>Use una cuenta local para loguearse.</h4>

            <hr />

            <div class="form-group col-md-8">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group col-md-8">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>*@

            <div class="form-group">
                <button type="submit" class="btn btn-default">Log in</button>
            </div>

            <div class="form-group">
                @*<p> <a asp-action="ForgotPassword">¿Olvidó su contraseña?</a> </p>*@
                <p> <a style="color:#FF0000" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Registrarse como un nuevo usuario.</a> </p>
            </div>

            <hr />

        </div>
    </CENTER>
</form>
