@using BizLogic.Planning
@model PlanCommand

<form method="post">
    <input asp-for="Año" type="number" placeholder="Año"  />
    <input asp-for="TipoPlan" type="text" placeholder="Tipo" name="TipoPlan" />
    <input asp-for="PlanID" />
    <button class="button" type="submit" value="Edit" name="button">   <span>Añadir</span> </button>
</form>