@using BizData.Entities
@model IEnumerable<Plan>

<style>
    #myTable tr.header, #myTable tr:hover {
        /* Add a grey background color to the table header and on hover */
        background-color: #f7cfcf;
    }
</style>

<section>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
</section>
<section>
    <form method="post">
        <table id="myTable">
            <tr>
                <th>
                    Año
                </th>
                <th>
                    Presupuesto
                </th>
                <th>
                    Tipo de Plan
                </th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Año
                    </td>
                    <td>
                        @item.Presupuesto
                    </td>
                    <td>
                        @item.TipoPlan
                    </td>
                    <td>
                        <button class="button" type="submit" value=@item.PlanID name="Id">   <span>Editar</span> </button>
                    </td>
                </tr>
            }
        </table>
        <button class="button" type="submit" value="Add" name="button">   <span>Añadir</span> </button>
    </form>
</section>